!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'Shopper Challenge'

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %meta{:name => 'description', content: 'Shopper Challenge'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body
    %header
      = render 'layouts/navigation'

    %main{role: 'main'}
      .container
        .row
          .col-md-8.col-md-offset-2
            = render 'layouts/messages'
            = image_tag "logo", class: 'branded-logo'
            = yield
